<div class="pt-20"></div>
{{duplication-selector
  selectorType="ingress"
}}

<hr>

<div class="pt-20"></div>
new-edit-ingress
{{!-- {{new-edit-ingress
  showHeader=false
  showBtnSave=false
  ingress=model.ingress
  namespace=model.ingress.namespace
  existing=model.existing
  editing=true
  namespacedCertificates=model.namespacedcertificates
  certificates=model.certificates
}} --}}
