{{#accordion-list-item
  title="Data Clear"
  detail="Reset all of the pipeline related data."
  status=status
  statusClass=statusClass
  expandOnInit=false
  expand=(action expandFn)
}}
  {{#if confirmDisable}}
    <button class="btn bg-error" {{action "disable"}}>
      <i class="icon icon-alert"></i> Are You Sure To Clear Data?
    </button>
  {{else}}
    <button class="btn bg-error" {{action "promptDisable"}}>
      <i class="icon icon-umbrella"></i>Clear Data
    </button>
  {{/if}}
{{/accordion-list-item}}